.task {
  position: relative;
  padding: 0.5rem;
  color: var(--color-grey);
  cursor: pointer;
  border-radius: 0.5rem;
}

.task:hover .buttons {
  visibility: visible;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  gap: 0.25rem;
  visibility: hidden;
}

.renameBtn path {
  fill: var(--color-grey);
}

.removeBtn path {
  fill: var(--color-red);
}

.isSelected {
  background: var(--color-black);
}
