.button {
  font-size: 0.8rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.12);
  color: var(--color-grey);
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.075);
}
