* {
  margin: 16px;
  padding: 16px;
}

:root {
  --color-black: #201e20;
  --color-primary: #e0a96d;
  --color-secondary: #ddc3a5;
}

body {
  background: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
