.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topPanel {
  padding: 0.5rem;
  background: var(--color-black-dark);
}

.workspace {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.bottomPanel {
  text-align: center;
  background: var(--color-black-dark);
  color: var(--color-grey);
  font-size: 0.6rem;
  padding: 0.3rem;
}

.bottomPanel a {
  color: var(--color-white);
}

.leftPanel {
  flex: 1;
  max-width: 320px;
  min-width: 280px;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.5rem;
  overflow-y: auto;
}

.rightPanel {
  flex: 2;
  padding: 0.5rem;
}
